In [15]:
# Q1: import numpy and pandas
import numpy as np
import pandas as pd

In [16]:
# Q2: Set options in pandas so it displays 30 `max_rows` 
#                                 no limit on `max_columns`
#                                 precision is 3
pd.set_option('display.max_rows', 30)
pd.set_option('display.max_columns', None)
pd.set_option('display.precision', 3)

In [17]:
# Q3: assign the versions of pandas and numpy to variables below
pd_version = pd.__version__
np_version = np.__version__

In [18]:
# Q4: Read in the csv file "olive.csv" with pandas. 
#     The filename is stored in the variable `olive_path`
#     Assign it to variable `df`
df = pd.read_csv('http://s3.amazonaws.com/istreet-assets/cqj0wXOp6sICdTRWc5X2cw/olive.csv.txt')

In [19]:
# Q5: How many rows and columns are there in `df`? Put your answer in a variable `df_shape`.
df_shape = np.shape(df)
df_shape

(572, 11)

In [20]:
# Q6: assign the first 2 rows of `df` to `df_first_two`
df_first_two = df.iloc[:2]
df_first_two

,Unnamed: 0,region,area,palmitic,palmitoleic,stearic,oleic,linoleic,linolenic,arachidic,eicosenoic
0,1.North-Apulia,1,1,1075,75,226,7823,672,36,60,29
1,2.North-Apulia,1,1,1088,73,224,7709,781,31,61,29

In [21]:
# Q7: How many distinct data types are there in `df`?
df_data_types_count = len(set(df.dtypes))# this should be an integer
df_data_types_count

2

In [22]:
# Q8: In `df`, create a new column 'sub_region_raw', which will be a copy of the column 'Unnamed: 0'
df['sub_region_raw'] = df['Unnamed: 0']

In [23]:
# Q9: In `df`, rename 'Unnamed: 0' to 'sub_region_desc'
df.rename(columns={'Unnamed: 0': 'sub_region_desc'}, inplace=True)

In [24]:
# Q10: In `df`, rename the column 'area' to: 'sub_region'
df.rename(columns={'area': 'sub_region'}, inplace=True)

In [25]:
df.head()

,sub_region_desc,region,sub_region,palmitic,palmitoleic,stearic,oleic,linoleic,linolenic,arachidic,eicosenoic,sub_region_raw
0,1.North-Apulia,1,1,1075,75,226,7823,672,36,60,29,1.North-Apulia
1,2.North-Apulia,1,1,1088,73,224,7709,781,31,61,29,2.North-Apulia
2,3.North-Apulia,1,1,911,54,246,8113,549,31,63,29,3.North-Apulia
3,4.North-Apulia,1,1,966,57,240,7952,619,50,78,35,4.North-Apulia
4,5.North-Apulia,1,1,1051,67,259,7771,672,50,80,46,5.North-Apulia

In [26]:
# Q11: In `df`, get the unique values of the field 'region'
region_unique = df['region'].unique()
region_unique

array([1, 2, 3])

In [27]:
# Q12: In `df`, how many unique values of the field 'sub_region' are there?
sub_region_unique_count = df['sub_region'].nunique()# should be an integer
sub_region_unique_count

9

In [28]:
# Q13: Lets take a look at the field `sub_region_desc`:
# >>> df['sub_region_desc'].head(5)
# 0    1.North-Apulia
# 1    2.North-Apulia
# 2    3.North-Apulia
# 3    4.North-Apulia
# 4    5.North-Apulia

In [29]:
# Looks like 'sub_region_desc' has line numbers attached to the beginning of region name. Remove those and get the unique values in that field, assign it to `srd_unique`
df['sub_region_desc'].replace(to_replace='[0-9]+.', value='',inplace=True,regex=True)
srd_unique = df['sub_region_desc'].unique()
srd_unique

array(['North-Apulia', 'Calabria', 'South-Apulia', 'Sicily',
       'Inland-Sardinia', 'Coast-Sardinia', 'Umbria', 'East-Liguria',
       'West-Liguria'], dtype=object)

In [32]:
df.sample(20)

,sub_region_desc,region,sub_region,palmitic,palmitoleic,stearic,oleic,linoleic,linolenic,arachidic,eicosenoic,sub_region_raw
22,North-Apulia,1,1,1056,53,247,7703,700,54,89,51,23.North-Apulia
57,Calabria,1,2,1261,153,219,7355,818,52,70,26,58.Calabria
392,Inland-Sardinia,2,5,1030,84,214,7403,1177,21,70,1,393.Inland-Sardinia
237,South-Apulia,1,3,1323,147,210,7108,1070,33,61,20,238.South-Apulia
507,East-Liguria,3,7,1220,100,240,7890,530,0,10,2,508.East-Liguria
23,North-Apulia,1,1,1065,39,234,7876,703,42,74,26,24.North-Apulia
129,South-Apulia,1,3,1264,167,166,7130,1187,22,52,12,130.South-Apulia
273,Sicily,1,4,1457,182,267,7020,863,41,84,37,274.Sicily
74,Calabria,1,2,1296,136,260,7380,780,48,51,18,75.Calabria
54,Calabria,1,2,1184,112,311,7391,819,48,57,28,55.Calabria
13,North-Apulia,1,1,875,52,243,8018,655,41,79,32,14.North-Apulia
59,Calabria,1,2,1225,134,232,7658,616,36,49,26,60.Calabria
182,South-Apulia,1,3,1482,178,197,6814,1201,40,64,24,183.South-Apulia
348,Inland-Sardinia,2,5,1119,81,219,7409,1057,33,81,2,349.Inland-Sardinia
350,Inland-Sardinia,2,5,1047,101,238,7385,1120,28,89,1,351.Inland-Sardinia
283,Sicily,1,4,1153,74,316,7593,705,42,64,32,284.Sicily
517,East-Liguria,3,7,1110,70,240,7820,670,20,70,3,518.East-Liguria
305,South-Apulia,1,3,1721,238,255,6300,1350,35,70,28,306.South-Apulia
310,South-Apulia,1,3,1577,204,208,6732,1183,20,52,20,311.South-Apulia
505,East-Liguria,3,7,1150,90,230,7790,650,30,60,1,506.East-Liguria